@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
header {
  background-color: #4A4E4D;
}
header .header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header__nav .header__lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__nav .header__lang button {
  margin-right: 1rem;
  outline: none;
  background-color: transparent;
  border: none;
}
header .header__nav .header__lang button img {
  width: 1.5rem;
  border-radius: 4px;
}
header .header__nav h3 {
  color: #FFFFFF;
}
header .header__nav .header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .header__nav .header__list li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #FFFFFF;
}
header .header__nav .header__list li--active {
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  header .header__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-template-areas: 'title title' 'lenguages sections';
  }
  header .header__nav .header__lang {
    grid-area: sections;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header__nav .header__lang button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
  }
  header .header__nav .header__lang button img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header__nav h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: title;
  }
  header .header__nav .header__list {
    grid-area: lenguages;
  }
}
.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.weather-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.weather-card h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.weather-card p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.weather-card .temperature-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.weather-card .temperature-info .temperature {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.weather-card .temperature-info .feels-like {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.weather-card .temp-range-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.weather-card .temp-range-info .temp-min,
.weather-card .temp-range-info .temp-max {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.weather-card .humidity-info {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.clouds {
  background-image: url("../../assets/images/nublado.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sun {
  background-image: url("../../assets/images/soleado.jpg");
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}/*# sourceMappingURL=index.css.map */